{% extends "layout.html" %}

{% block title %}{{ category.name }}{% endblock %}


{% block body %}
    {{ super() }}
	
	<div class = 'pane'>
		<div class = 'header'>
		<h1>{{ category.name }}</h1>
	</div>

	<a href = '{{url_for('newCatalogItem', category_id = category.id) }}'>Create New Item</a>

    {% for i in items %}
    <div class = 'nameAndPrice'>
		<span class = 'name'><p>{{i.name}}</p></span>
		<span class = 'price'>
		    <p>{{i.price}} </p>
	    </span>
	</div>
	
	<div class = 'description'>
		<p>{{i.description}}</p>
	</div>
	
	<div class = "editdeletepane">

	    <a href='{{url_for('editCatalogItem',category_id = category.id, item_id=i.id)}}' >
            Edit
        </a>
	    <a href='{{url_for('deleteCatalogItem', category_id = category.id, item_id=i.id)}}'>
            Delete
        </a>
	</div>

    {% endfor %}


</div>

{% endblock %}
