{% extends "layout.html" %}

{% block title %}Categories{% endblock %}

{% block body %}
    {{ super() }}

    <h2>Categories</h2>
    <p>
    This is the list of existing categories. You can add new categories 
    {% if 'username' not in session %}
    (requires <a href = "{{url_for('login')}}">login</a>.)
    {% endif %}
    </p>
    <div class="list-group">
        {% for i in categories %}
            <p class="list-group-item">
            <a href="{{ url_for('showCategoryItems', category_id=i.id)}}">{{i.name}}</a>
            </p>
        {% endfor %}
    </div>

    {% if 'username' in session%}
    <nav class="navbar">
      <a href = "{{ url_for('newCategory')}}">Add a New Category</a>
    </nav>
    {% endif %}

{% endblock %}
