{% extends "layout.html" %}

{% block title %}{{ category.name }}{% endblock %}


{% block body %}
    {{ super() }}
	
	<div class = 'pane'>
		<div class = 'header'>
		<h1>{{ category.name }}</h1>
	</div>

	<a href = '{{url_for('newCatalogItem', category_id = category.id) }}'>Create New Item</a>

    {% for i in items %}
    <div class = 'catalog-item'>
		<span class = 'item-name'>
      <a href = '{{url_for('showItemFromNames', category_name = category.name, item_name = i.name)}}'>
        {{i.name}}
      </a>
    </span>
	</div>
	
	<div class = "editdeletepane">

	    <a href='{{url_for('editCatalogItem',category_id = category.id, item_id=i.id)}}' >
            Edit
        </a>
	    <a href='{{url_for('deleteCatalogItem', category_id = category.id, item_id=i.id)}}'>
            Delete
        </a>
	</div>

    {% endfor %}


</div>

{% endblock %}
