{% extends "layout.html" %}

{% block body %}
    {{ super() }}

    <h1>Welcome to Catalog App</h1>
    <div>
        <p>The place where you can read and store various items by category</p>
    </div>

    <div>
      <h2>Latest items</h2>
      <div class='item-list'>
      {% for item in items %}
      <div>{{item.name}}<span> ({{item.category.name}})</span></div>
      {% endfor %}
      </div>
    </div>

    <div>
      <h2>Categories</h2>
      <div class='category-list'>
      {% for category in categories %}
      <div>{{category.name}}</div>
      {% endfor %}
      </div>
    </div>

{% endblock %}
