<!DOCTYPE html>

<html lang="en">
    <head>

        <title>
        {% block title %}
        Catalog App
        {% endblock %}
        </title>

        {% block scripts %}
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        {% endblock %}

    </head>

    <body>

    <header>
    {% block body %}
        <nav class="navbar">
          <a href = "{{ url_for('home')}}">Home </a>
          <a href = "{{ url_for('about')}}">About </a>
          <a href = "{{ url_for('showCategories')}}">Categories</a>
          <a href = "{{ url_for('showItems')}}">Items</a>
          {% if 'username' not in session%}
          <a href = "{{ url_for('login')}}">Login</a>
          {% else %}
          <span>Logged in as {{session['username']}}</span>
          <a href = "{{ url_for('logout')}}">Logout</a>
          {% endif %}
        </nav>
    {% endblock %}

    <div class = 'flash'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>

  </header>

    </body>
</html>
