<!DOCTYPE html>

<html lang="en">
    <head>

        <title>
        {% block title %}
        Catalog App
        {% endblock %}
        </title>

        {% block head_scripts %}
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- JQuery. Needed for Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <!-- Additional styling -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        {% endblock %}

    </head>

    <body>

    <div class="container">

    {% block body_preamble %}
    <!-- For code that must precede anything else. -->
    {% endblock %}

    {%include 'navbar.html' %}

    {% block body %}
    {% endblock %}

  </div>

    </body>
</html>
