{% extends "layout.html" %}

<!-- Taken from Udacity Authentication and Authorizaiton Restaurant Menus example -->

{% block head_scripts %}
{{ super() }}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//apis.google.com/js/platform.js?onload=start"> </script>

{% endblock %}

{%block body_preamble %}

<!-- Facebook sign-in -->

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1650797538510208',
      cookie     : true, // enable cookies to allow the server to access this session
      xfbml      : true, // parse social plugins on this page
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?_csrf_token={{csrf_token()}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/";
         }, 4000);
          
      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  });
    });
  }

</script>

{{ super() }}

{% endblock %}

{% block body %}

{{ super() }}

<br>
<!-- Google sign-in callback-->

<script>

function googleSignInCallback(authResult) {
    if (authResult['code']) {
        // Hide the sign-in button now that the user is authorized
        $('#signinButton').attr('style', 'display: none');
        // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
        $.ajax({
            type: 'POST',
            url: '/gconnect?_csrf_token={{csrf_token()}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
                // Handle or verify the server response if necessary.
                if (result) {
                    $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                        setTimeout(function() {
                            window.location.href = "/";
                        }, 4000);
                } else if (authResult['error']) {
                    console.log('There was an error: ' + authResult['error']);
                } else {
                    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
            }
        }); 
    } 
}
</script>

<div class="jumbotron">
  <h2>Login to ItemCatalog App</h2>

  <div>
    <p>
    We delegate your security to trusted 3rd party providers so you can
    use this app in tranquility. Pick one of the providers listed below,
    log in, and enjoy the ride.
    </p>
  </div>
</div>

<!-- Google sign-in button -->
<div id="signInButton">
    <span class="g-signin"
        data-scope="openid email"
        data-clientid="504705863058-073o91f0nrtlba4egd89ss9osf9a452s.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="googleSignInCallback"
        data-approvalprompt="force">
    </span>
</div>


<!-- Facebook sign-in button -->
<button>
  <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
  <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
  </fb:login-button>
</button>

<br>
<div id="result"></div>



{% endblock %}

